<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.resourceserver.mapper.UserMapper">
<!--    示例，通过id找到com.example.resourceserver.mapper.UserMapper对应的接口，在service层调用时调用接口提供的函数名，会自动调用函数名对应的sql-->
    <update id="reset"  >
        update unity_user set password=#{password} where username=#{username}
    </update>
    <select id="getAllInfo" resultType="com.example.resourceserver.pojo.Users">
        select * from recruit_user
    </select>
    <select id="getVolunteer" resultType="com.example.resourceserver.pojo.Volunteer">
        SELECT department_name,level FROM department,volunteer WHERE department_id=volunteer_department AND id =#{id}
    </select>
</mapper>